.chat-master-container{
    padding-top: 80px;
    position: relative;

}

#chat-container {
    position: relative;
    height: 100%;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin-right: 40px;
    border: 10px solid #e2ded3;
    background-color: #e2ded3;
    overflow: hidden;
    border-bottom-right-radius: 30px;
    // border-bottom-left-radius: 20px;
}

#chat-inner-container {
    height: 100%;
    width: 100%;
    background-color: #393D46;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow:inset 0 0 10px #303030;
    overflow-y: auto;
}

.chat-master-container::before {
    z-index: 0;
    content: "";
    position: absolute;
    right: -140px;
    bottom: 0px;
    height: 60px;
    width: 180px;
    background-color: transparent;
    box-shadow: -80px 0px 0px #e2ded3;
    border-bottom-left-radius: 60px;
}

.chat-scroll-box{
    margin-top: 10px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.chatImg {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid white;
    background-color: white;
}

.chat-input-sticky {
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0px;
    border-radius: 5px;
    background-color: #e2ded3a2;
}

.chat-input-sticky button {
    width: 25%;
    height: 30px;
    background: #726867;
    border: none;
    border-radius: 35px;
    margin-left: 2%;
}

#chat-input {
    height: 30px;
    width: 65%;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid #353130;
    font-size: 20px;
    outline: none;
    margin: 0 0 20px 0; 
    bottom: 0;
}

.message {
    display: flex;
    width: 70%;
    height: auto;
    background: #726867;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;


}

.user-message {
    align-self: flex-end;
}

.message-profile {
    padding: 5px;
    margin-left: 5px;
}

.msg-txt-align {
    text-align: left;
    margin: 3px 5px;
    overflow-wrap: break-word;
}