main {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.active-container {
    width: 50%;
    height: 100vh;
}

.lobby-title {
    height: auto !important;
    position: fixed;
    top: 10px;
    left: 10px;
}

.lobby-title img {
    width: 70px;
}
