.restaurant-container {
    display: flex;
}

.restuarant-result{
    margin-bottom: 35px;
}

.info {
    margin-top: 35px;
}

.lobby-result-button {
    width: 25%;
    height: 30px;
    background: #726867;
    border: none;
    border-radius: 35px;
    align-self: center;
}

.lobby-result-button:hover {
    background-color: #393D46;
    color: white
  }