main {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.active-container {
    width: 50%;
    height: 100vh;
}

#notification-container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    border: 1px solid white;
    height: auto;
    background-color: rgb(138, 138, 138);
}

.lobby-title {
    height: auto !important;
    position: fixed;
    top: 10px;
    left: 10px;
}

.lobby-title img {
    width: 70px;
}
