#chat-container {
    position: fixed;
    left: 0px;
    top: 120px;
    border: 1px solid white;
    height: 60vh;
    background-color: rgb(138, 138, 138);
}

#notification-container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    border: 1px solid white;
    height: auto;
    background-color: rgb(138, 138, 138);
}